*{
    font-family: 'Roboto', sans-serif;
}


body{
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-image: url('img/background.png');
    background-position: center center;
    background-size: cover;
    animation-name:back;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes back{
    0%{
        background-size: 100% auto;
    }
    50%{
        background-size: 120% auto;
    }
    100%{
        background-size: 100% auto;
    }
}

header{
    background-color: rgba(0, 0, 0, 0.2);
}

h1{
    color: #EA2;
    
}

#plateau{
    margin-top: 50px;

}
#plateau input{
    width: 60px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: solid 1px #AAA;
    color: #FFF;
    display: inline-block;
    margin: 4px 2px;
    transition: all 0.3s ease;
}

#plateau input:hover{
    transform: scale(1.2);
    color: #000;
    background-color: #AAA;
    transition: all 0.3s ease;
}

