*{
    font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    font-size: 14pt;
    cursor: pointer;
    background-color: #EA2;
    border: solid 1px #EA2;
    color:#000;
    display: inline-block;
    margin: 4px 2px;
}

input[type="submit"]:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    color:#FFF;
}

#main input{
    width: 60px;
    height: 40px;
    font-size: 14pt;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px black;
}

#selection input{
    width: 60px;
    height: 40px;
    font-size: 14pt;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px #EA2;
}

header{
    background-color: #AAA;
}

h1{
    color: #EA2;
    
}

#plateau{
    margin-top: 50px;
    margin: 50 auto;
    background-color: white;
    width:70%;
    border-radius: 3%;

}
#plateau input{
    text-align: center;
    width: 60px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: solid 1px #AAA;
    color: #000;
    display: inline-block;
    margin: 4px 2px;
    transition: all 0.3s ease;
}

#plateau input:hover{
    transform: scale(1.2);
    color: #FFF;
    background-color: #AAA;
    transition: all 0.3s ease;
}

body{
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-image: url("../img/background.png") ;
}

@keyframes back{
    0%{
        background-size: 100% auto;
    }
    50%{
        background-size: 120% auto;
    }
    100%{
        background-size: 100% auto;
    }
}

footer{
    height: 100px;
    background-color:#AAA;
}
p{
    color: white;
}
.linkFooter {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
}
  
.linkFooter li {
    margin: 0 10px; /* Marge entre les éléments liens */
}

.contenerLogo{
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}

li {
    list-style-type: none;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(45, 101, 153) ;
}